[2017-07-10 00:47] dhirschfeld opened #556 "test_convert_dataframe_to_cds fails"
On win64/py36, bokeh 0.12.6, pandas 0.20.2 I'm seeing the below error:
[code]
The test does seem to work on Travis though. I'm assuming it must be testing against an older version of bokeh or pandas?

If I inspect `cds.data` this is what I'm seeing:
[code]

[2017-07-17 14:08] apiszcz commented on #543
Same msg on 0.20.3

[2017-07-18 16:52] Anasscab commented on #482
I Just got it working by replacing the filename with pandas.read_csv(filename)
example :
db = odo(pandas.read_csv(filename) , "sqlite:///mydb.db::tablename" , dshape=dshape)

[2017-07-24 03:55] dhirschfeld commented on #554
@llllllllll - would be good to get this merged if you can find the time...

[2017-07-24 23:31] #554 closed

[2017-07-25 14:16] spandanbrahmbhatt opened #559 "ODO cannot access S3 with S3ResponseError: 403 Forbidden"
I am using odo library to transfer a **pandas dataframe** to S3. However I am getting following error :
[code]

Now I have the AWS credentials setup correctly as I can see in my `~/.aws/credentials` file
[code]
The aws cli works correctly for me and I can run `aws ls` and `cp` commands correctly (I guess this means I do have the required permissions).
[code]
Also `boto3` is able to access s3 resou

[2017-07-31 22:06] stonebig opened #560 "miss odo-0.5.1 on pypi"
would it be possible to get odo-0.5.1 published on pypi ?

[2017-07-31 22:43] jbednar commented on #543
Looks like this is addressed by https://github.com/blaze/odo/pull/546/. Any chance of a new release (and conda packages) to stop the warnings?

[2017-08-02 20:42] gbrener opened #561 "Pandas categorical optimization"
Datashader issue https://github.com/bokeh/datashader/issues/396 revealed a bottleneck in [odo/backends/pandas.py]() on this line: https://github.com/blaze/odo/blob/master/odo/backends/pandas.py#L22 . One culprit seems to be the `.tolist()` operation; here is my proposed fix:

[code]

There is potential for an additional bottleneck to occur inside `datashape`'s `Categorical` constructor here: https

[2017-08-02 23:47] gbrener commented on #561
CC @jbednar @teoliphant , as the second part of this relates to `datashape` performance.

[2017-08-03 17:15] gbrener commented on #561
From what I can tell this also affects dask categorical performance, as the dask dshape discovery reuses the pandas dshape discovery functions.

[2017-08-08 11:14] cmrap opened #562 "When trying to convert csv to sqlite table, get the error "ValueError: max() arg is an empty sequence""
Please see this question on SO:

https://stackoverflow.com/questions/45550070/valueerror-max-arg-is-an-empty-sequence-odo-sqlite3

I have retried this problem using a brand new csv and am still getting the same issue. Code that worked last week now doesn't.

I have gone through the source code and have traced the issue to the `dispatch` function within the `regex.py` file. All of `priority` `funcs

[2017-08-10 06:00] tomrg commented on #550
Is there a way to force it to use `\copy` or even better, make it optional?

[2017-08-10 11:11] juanriaza commented on #493
I think this might be due to nested json attributes.

[2017-08-12 02:58] eszense opened #563 "h5py backend bug when append by uri"
[code]
There is a bug in h5py backend. The above code will raise an exception on the 3rd call to odo as follows

[code]
Apparently this is because the assertion inadvertently compares the length of the new data and the current length of data already in the dataset.

[2017-08-12 03:08] eszense commented on #563
I just submitted a patch (#564). Please review. Thanks

[2017-08-18 16:40] majidaldo opened #565 "remove or update pydata.org-hosted docs"

[2017-08-18 16:41] #565 closed

[2017-08-18 17:11] majidaldo opened #566 "backend: tensorflow tensors"
any interest in creating this?

[2017-08-21 19:43] thequackdaddy opened #567 "BUG: mssql.TIMESTAMP -> bytes_ breaks discover"
Hello,

I noticed from [this commit](https://github.com/blaze/odo/commit/5c8232bf7eb73cca98e32cff3acc4fb18f4dcf18#diff-51da4c3b85f1cc5241513828c9882880R104) that I think we accidentally broke datetime discovery in blaze.

Just try this code after this commit:

[code]

this returns `dshape("var * {amount: ?float32, ds: ?bytes}")`. Note that 'ds' is now `?bytes`, not `timestamp`...

(This breaks uni

[2017-08-24 20:15] thequackdaddy opened #569 "Does odo support more than 255 columns?"
Tried to convert a really, really big dataset (45 GB in mssql, around 355 columns and 22 million rows) in through odo and got an error that you can't have more than 255 arguments.

Basically, I was converting the mssql table to a bcolz dataset. I'm not sure where the problem lies.

I'll try to create a toy example later.

[2017-08-26 20:02] apnewberry opened #570 "Why is it called odo?"
What does the name mean?

[2017-08-26 21:31] llllllllll commented on #570
Odo is the name of a character from Star Trek`[1]`. In Star Trek, Odo is a changeling, which is a species that can change their physical form at will. `odo` the library is designed to change the shape and storage of data like how Odo the character can change their own form.

`[1]`: https://en.wikipedia.org/wiki/Odo_(Star_Trek)

From a practical view, `odo` is short and unique so people will rememb

[2017-08-26 21:33] llllllllll commented on #569
The python language does not support more than 255 arguments to a single function syntactically, though you can `*` unpack a large tuple or `**` unpack a large dictionary into the function. Were you trying to do something like:

[code]

[2017-08-26 21:35] llllllllll commented on #566
This could be very interesting, especially if paired with a blaze backend. Right now I don't think anyone would have time to work on this, but I would be in support of merging it if someone wrote it.

[2017-08-26 21:46] thequackdaddy commented on #569
Right some pseudocode of what I was doing was this...

[code]

[2017-08-27 08:00] llllllllll commented on #569
without the traceback it is hard to say what the error is. There are a lot of places this may be.

[2017-08-29 09:21] manugarri commented on #370
@ahasha  @kwmsmith  is there any update on this? I am not sure if the Odo project is deprecated.

[2017-09-01 19:58] AlexHagerman opened #571 "Bulk Loaders and Exports"
Hi,

I've used odo in some of my smaller projects and enjoy it, but with others the current data migrations I do use pyodbc and calls to utilities like [bcp](https://docs.microsoft.com/en-us/sql/tools/bcp-utility) and [nzload](https://www.ibm.com/support/knowledgecenter/SSULQD_7.1.0/com.ibm.nz.load.doc/c_load_nzload_command.html) due to the size of the data I am importing/exporting.

I don't see m

[2017-09-05 23:44] ganesh-krishnan opened #572 "How do I write a JSON column to a postgres table?"
I'm trying to write a pandas dataframe that contains a JSON column into a postgres database using odo. Here is what I have:

```from odo import odo odo(df, 'postgres://localhost:1234/testdb::test_table')```

test_table has a JSON column called data. odo is unable to copy the dataframe and gives me 

```*** NotImplementedError: No SQL-datashape match for type JSON.```

I then tried to explicitly sp

[2017-09-08 17:25] nncary commented on #370
big odo fan here, what would be replacing odo? i

[2017-09-12 23:15] dhirschfeld commented on #571
I've previously used `bcp` by writing csvs to spinning rust but whilst it does get you very good speedups the whole process felt a bit icky.  In contrast the postgres bulk upload could be used entirely in memory by writing the csv to a `StringIO`. I tried to avoid writing to disk by using a named pipe but couldn't get that working. I've read various things on the internet that suggest there *may*

[2017-09-13 01:28] AlexHagerman commented on #571
Can you give me some more insight on what made bcp feel icky? My current usage does feel like a hack, but just curious if you had more details on that. I'll look into MS-TDS. Sounds like an interesting opportunity, I'll be curious to consider the scale since you mentioned it being a big project. Today I implemented an mssql CopyToCSV, that said I'm not in love with it. It works, but it feels like

[2017-09-13 01:32] dhirschfeld commented on #571
Writing anything to disk is ***slow***. Since there's no reason why you should have to do that it's not a great solution IMHO (except in the fact that it works and gives a good performance boost). If `bcp` could either accept data from stdin or from a named pipe you could avoid having to write anything to disk. The fact that limitations in `bcp` prevent that is icky.

[2017-09-13 01:53] dhirschfeld commented on #571
It's a perfectly good solution - I just think implementing the TDS protocol directly would be a *better* solution, but also a lot more work so this is a good improvement on what's currently available.

NB: I'd probably use `subprocess.check_call` so you know if it worked or not

[2017-09-13 02:01] dhirschfeld commented on #571
On the named pipe front:
* https://stackoverflow.com/questions/2197017/can-sql-server-bulk-insert-read-from-a-named-pipe-fifo
* https://connect.microsoft.com/SQLServer/feedback/details/337702/support-bcp-out-in-and-bulk-insert-compressed-or-named-pipe

[2017-09-13 02:37] AlexHagerman commented on #571
Got it, that makes a lot of sense. Thank you for all the references, insight and feedback. I'll dig into these and see if I can figure something different out this week.

[2017-09-13 02:42] dhirschfeld commented on #571
Like I say - this is a good fit for now - `SqlBulkCopy` for Python is just something on my wishlist but I thought I'd document what I'd found in case anyone wanted to pick it up...

[2017-09-13 05:46] mhlr opened #573 "Unable to load sharded data from files without filetype extensions"
I am trying to load data from directory of jsonlines formatted files which lack the .json extension.

I have tried:

[code]
all of which throw either ` Unable to parse uri to data resource` or  `No such file or directory`.

I am able to parse a single file with:

[code]

Is this a bug / unimplemented functionality or am I doing something wrong?

[2017-09-13 06:10] llllllllll commented on #573
When using just `data`, blaze delegates to `odo.resource` which uses a sequence of regular expressions to resolve the uri to a type. If there is no extension, you will need to manually construct the box type (for example `JSONLines`) so odo and blaze know what the uri is.

My intuition is that `data(Directory(JSONLines)('/path/to/dir/'))` is the correct call, does that produce `No such file or dir

[2017-09-13 06:59] mhlr commented on #573
@llllllllll

I have the files
[code]

When I run
[code]
I get

[code]

Note that the error message contains the name of a specific file, so blaze is seeing the directoruy and the files therein. It is just getting confused somehow.

[2017-09-13 07:05] mhlr commented on #573
@llllllllll

Leaving of the final '/' makes no difference.

[2017-09-13 07:17] llllllllll commented on #573
Ah, it looks like Directory isn't respecting that you have told it the type of the resource already:
[code]
this is the incorrect frame.
The basic idea is that we need to treat "bound" `Directory` subclasses different in `__iter__`. It is pretty late here but I should be able to fix this tomorrow.

[2017-09-13 07:22] mhlr commented on #573
@llllllllll Thanks

[2017-09-13 07:32] mhlr commented on #573
What would be the way to supply type information when using a file pattern rather than the whole directory, eg.:

[code]

[2017-09-13 07:38] llllllllll commented on #573
The call I showed before is the correct way to do it, it is just broken. I'm not sure there is a simple workaround other than adding an extension. This should be a small fix though.

I am about to go to sleep but I'll fix this tomorrow.

[2017-09-13 11:41] AlexHagerman commented on #571
Understood. I'll work on a bcp in function for sql_csv.py mssql and then setup a PR.

[2017-09-14 04:17] mhlr commented on #573
Cool, Thanks! I think this is not json specific though.
I have tried thing like `Directory(TextFile))` and also `Directory(Directory(JsonLines))` pointed at the parent directory and both exhibit the same problem. That makes me think that it is primarily a `Directory` problem.
I wonder a similar problem also affects some of the other modifiers like `S3`, `SSH` and `HDFS`.

[2017-09-18 10:04] ganesh-krishnan commented on #572
Bump. Would appreciate some help! :)

[2017-09-19 17:01] h5rdly opened #576 "schemaRDD example relevant?"
Hi,

First of all, this is an amazing library, cheers.

I was going through the spark example here -
http://odo.pydata.org/en/latest/spark.htm

This part went well:

<class 'pyspark.sql.SQLContext'>

However, trying to convert:

gave me an error about the conversion not existing. This was at work, on ubuntu 14, and I foolishly haven't copied the exact error message.

Is this a known issue? If not,

[2017-09-19 22:52] dfernan opened #577 "csv to redshift error"
Hi, I am trying to upload a csv file into redshift using the following command:
`table = odo.odo('c:/test.csv','redshift://user:pass@host:5439/db::table')
`but I get a rather unexpected error:
[code]

[2017-09-21 23:37] brettc opened #578 "S3 problem: profiles for assuming AWS roles do not appear to work (boto3 problem?)"
I need to get data from a S3 bucket that requires me to assume a role.

I have configured my setup as [per aws instructions](http://docs.aws.amazon.com/cli/latest/userguide/cli-multiple-profiles.html) and have a profile called "dev". I then `export AWS_PROFILE=dev` and this works fine with the aws cli, asking for an MFA when required and caching the results in the .aws/cli/cache folder.

I assumed

[2017-09-22 20:14] mcquin opened #579 "Odo 0.5.0 is incompatible with networkx 2.0 on Windows"
`odo.odo` fails on Windows when inserting a CSV file into a (sqlite) database due to networkx 2.0.

* Windows 10
* Python 2.7.14

odo (and networkx) installed/upgraded via command `pip install --upgrade odo`.

[test file](https://gist.githubusercontent.com/anonymous/ef02e403b8af9fcfaaea3d6af9459b31/raw/2e1844cb37766345948fe4e561aa8a14f32b2670/pets.csv)

odo 0.5.0 with networkx 2.0:
[code]

odo 0.5

[2017-09-27 02:18] agravier commented on #579
This is also a problem on Linux (Ubuntu 16.04, x64) with networkx 2.0 as installed as a dependency of odo. Like for mcquin, it works when downgrading to 1.11.

[2017-09-29 19:29] mbyim opened #580 "Datashape not Record Type?"
I'm trying to use Odo because I would like to load a few csv's into a sqlite3 database - one of which is over 30gb in size. However, when I try to load the csv's the datashape is not recognized as a record type:

    AssertionError: datashape must be Record type, got 0 * {msno: string, is_churn: int64}

I attempted to use discover and resource (as seen in the docs), but this didn't work and it was

[2017-10-02 12:51] reyman opened #581 "CSV to POSTGRESQL COPY superuser error, using STDIN instead ?"
Hi, i want to copy a csv file to postgresql database, but i have this error due to permission on postgresql server. I cannot have SUPERUSER permission on this shared hosting.

I see on stackoverflow it's possible to bypass using STDIN and not file reading. This option also exist into odo ?

[code]

[code]

[2017-10-02 15:26] makmanalp opened #582 "HDFStore discover hangs on large store"
Hi,

I'm trying to use odo to pull data out from an HDFStore file (eventually destined to a sqlite database, though that's not relevant now. Here's the code I'm running:

[code]

The process pegs at 100% cpu but only 1.3GB virtual memory and 100mb resident. Here's the backtrace I get when I hit ctrl-c:

<details>
<summary> Backtrace on KeyboardInterrupt </summary>

In [5]: shape = discover(d)
cc^[

[2017-10-02 15:38] makmanalp commented on #582
Quick profile output:

[code]

[2017-10-02 15:52] makmanalp commented on #582
OK, new development. When doing the following:

[code]

I get a result instantly, and this is one of the larger tables in the store, meaning that there's something weird about the code path where you run discover on an HDFStore. Perhaps because it's a dict-like, it's trying to traverse all the keys/values, which results in loading all the objects into memory. In this case, I don't know if this is

[2017-10-02 16:44] makmanalp commented on #580
@mbyim  I hit this too, and the solution was to specify the table name in the URI for the destination, e.g. ` odo("hdfstore://data.h5::/country_partner_year", "sqlite:///test.sqlite::asdf")`.

For posterity, I did some digging and the error seems to be happening around here:
https://github.com/blaze/odo/blob/39bf5770935c7cb50ec400aec378857379ba88bd/odo/backends/sql.py#L586

where ds is being pulle

[2017-10-02 16:45] makmanalp commented on #580
Full backtrace:

[code]

[2017-10-02 17:03] makmanalp opened #584 "Categoricals in pandas dataframe choke when inserting with sqlalchemy"
Even though pandas to_sql handles them OK. Currently pandas converts them to a string type, eg `TEXT` in sqlite.

Backtrace:

<details>
NotImplementedError                       Traceback (most recent call last)
<ipython-input-18-f47994ad18dd> in <module>()
----> 1 odo("hdfstore://data.h5::/country_partner_year", "sqlite:///test.sqlite::asdf")

/nfs/projects_nobackup/c/cidgrowlab/Mali/intl-atlas-a

[2017-10-02 21:43] makmanalp opened #585 "CSV to sqlite fails with "TypeError: can only concatenate list (not "TextFileReader") to list""
Code run: `odo("./test.csv", "sqlite:///database.db::country_partner_year")`.

The offending line is at: https://github.com/blaze/odo/blob/39bf5770935c7cb50ec400aec378857379ba88bd/odo/backends/csv.py#L371

Pandas (v0.20.3) seems to return a TextFileReader object when setting `chunksize=blah`, and so first is of type list[DataFrame], and rest is of type TextFileReader, and adding them doesn't make

[2017-10-03 20:18] apnewberry opened #586 "Is there a way to find out what steps odo will take?"
I have a `pandas.DataFrame` and I want to send it to a remote sql database. I'm not sure if it's going to do something fast using `\copy`  or `INSERT ... VALUES` or instead something slow using `pandas.DataFrame.to_sql` or sqlalchemy's `executemany`.

Is there a way I can find out what it's doing?
If it's doing something slow, is there a way to hint at something faster?

[2017-10-03 20:24] llllllllll commented on #586
You can use `convert.path(src, dst)` to see the steps odo will take:

[code]

Hopefully this helps!

[2017-10-03 20:38] apnewberry commented on #586
@llllllllll Thanks for responding; `convert.path` looks like a helpful tool!

In this particular case, I'm trying to load my dataframe into the remote sql database, so I would guess it's `convert.path(pd.DataFrame, sqlalchemy.Table)`. But that gives

[code]

[2017-10-03 20:44] llllllllll commented on #586
Loading a dataframe into a table uses `append`, which is not itself a network dispatcher, instead it is a regular multiply dispatched function which converts the input into an iterator and then appends the iterator to the the table.

There is no "dry-run" for append but I agree that this would be a useful feature.

[2017-10-03 21:00] apnewberry commented on #586
If I understand, the capability to send a local [dataframe](https://github.com/blaze/odo/issues/552) or [csv](https://github.com/blaze/odo/issues/550) to remote sql database quickly is forthcoming but not yet as fast as possible. Is that right? I'd love to use `odo` for this if I can. Thanks for your help!

[2017-10-03 21:23] mbyim commented on #580
Wonderful, that worked for me! I wish I noticed that detail, I also just realized that the answer is on one of the stack overflow questions as well. Thanks for the answer and explanation!

[2017-10-03 21:23] #580 closed

[2017-10-04 19:01] citynorman commented on #406
I had the same problem with NANs vs integer/float columns. `dask.read_csv()` has an [assume_missing](https://dask.pydata.org/en/latest/dataframe-api.html#dask.dataframe.read_csv) parameter which allows read the whole dataframe, currently I am unable to read them in blaze/odo.

[2017-10-04 19:27] a5m0 opened #587 "Allow jsonl for jsonlines URI"
Can we allow jsonl file extension when processing jsonlines:// URI?

`NotImplementedError: Unable to parse uri to data resource: jsonlines://`

[2017-10-05 03:58] citynorman commented on #585
Having the same problem, I suspect mine has to do with NAs

    import odo
    import blaze as bz
    import pandas as pd
    import numpy as np

    df=pd.DataFrame({'a':[5]*5,'b':[5]*5})
    odo.odo(bz.data(df),'test.csv')

    df=pd.DataFrame({'a':[5]*int(10e6)+[5],'b':[5]*int(10e6)+[np.nan]})
    df.to_csv('test-df.csv',index=False)
    bdf=bz.data('test-df.csv')
    bdf.head()

    odo.odo('t

[2017-10-05 04:03] citynorman commented on #288
+1

[2017-10-10 17:33] CHelfgott opened #588 "List to Postgres fails with "AttributeError: 'DiGraph object has no attribute 'edge'""
Running this with the latest version pulled off of Github, and Python 3.5.  (I was using odo 0.5.0, and was getting an error in a very similar location before I upgraded.)

Here's the full error logs:

  File "./flatfile_parser.py", line 629, in <module>
    main()
  File "./flatfile_parser.py", line 614, in main
    odo(temp_table, pg_conn_str + "::" + table_name, dshape = dshape_str)
  File "/us

[2017-10-11 06:04] nateGeorge commented on #392
Similar error with mongodb and pandas dataframe

[2017-10-11 16:48] CHelfgott commented on #588
Apparently line 1.72 only works with networkx v1.9; networkx is currently at 2.0.

[2017-10-13 20:54] nmalepati commented on #585
I too face the same issue. Cant write a CSV file to postgres databse. Keep getting the error:

TypeError: can only concatenate list (not "TextFileReader") to list

[2017-10-14 22:16] haihongwang opened #591 "Support "LOAD DATA LOCAL INFILE" in MySql"
I am trying to load a local csv file to a remote MySql server using odo lib, but I got the following error:

InternalError: (pymysql.err.InternalError) (1290, u'The MySQL server is running with the --secure-file-priv option so it cannot execute this statement') [SQL: u'LOAD DATA  INFILE %(path)s\n            INTO TABLE `GlobalObjects`\n            CHARACTER SET %(encoding)s\n            FIELDS\n

[2017-10-19 05:06] mythnc opened #593 "Enabling Conversions section is missing in the document website"
There are **Enabling Conversions** section in `docs\source\overview.rst`.
And the other hand, **Enabling Conversions** section is missing in https://odo.readthedocs.io/en/latest/overview.html

[2017-10-19 05:54] mythnc commented on #588
This issue is related to #579

[2017-10-23 21:17] MordicusEtCubitus commented on #585
Cannot read cvs file using a big csv file (3 000 000 records) exported from SAS having nan values.

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-33-1878b9b8e1f1> in <module>()
----> 1 t.peek()

~/anaconda350/lib/python3.6/site-packages/blaze/interactive.py in _peek(expr)
    33

[2017-10-26 15:08] majidaldo opened #595 "json needs to be 'empty' with {}"
Why do I need to initialize the json file with a '{}' for the following to work? Is this designed?
It seems to me if i say that if I declare that the file is an (actually) empty file then it should be taken as empty!

[code]

[2017-11-05 23:59] dhirschfeld opened #597 "Categorical support broken with recent pandas"
[`test_discover`](https://github.com/blaze/odo/blob/ba84238eb8dbcac4784ae7ebf62988d7e163c283/odo/backends/tests/test_dask_dataframe.py#L18-L28) is broken for me:

[code]
[code]

[2017-11-06 00:06] dhirschfeld commented on #597
In `dshape_form_pandas` there is an explicit test for `categorical`:
https://github.com/blaze/odo/blob/ba84238eb8dbcac4784ae7ebf62988d7e163c283/odo/backends/pandas.py#L20-L33

But this is failing for me since the definition of categorical:
https://github.com/blaze/odo/blob/ba84238eb8dbcac4784ae7ebf62988d7e163c283/odo/backends/pandas.py#L17

...gives a property object rather than an actual dtype:
[

[2017-11-16 07:47] Konubinix commented on #579
I confirm the issue and the fact that downgrading works for the present.

[2017-11-25 16:53] alphaBenj commented on #452
Trying a YEAR later, and the docs dont include connection example for mysql with username and password.  I couldnt find postgres Sql example with user name and password.

[2017-12-04 16:30] a-muratov commented on #403
Still hitting this on Windows with Odo `0.5.0`.

[2017-12-12 07:52] danielchalef opened #598 "odo not using boto config for attached EC2 Role"
boto, when called by odo, is not using the EC2 role attached to a running instance and fails with an authentication error when attempting to access S3.

Steps to reproduce:

1. Attach an EC2 Role with 'AmazonS3FullAccess' permissions to an EC2 instance.
2. Start python from shell running in EC2 instance, and use boto to list the AWS account's associated buckets:
[code]
This succeeds.
`[<Bucket: ..

[2017-12-13 19:37] steezeburger commented on #452
I did not find this anywhere in the documentation. Installing sqlalchemy and using a string like `'mysql+pymysql://root:root@127.0.0.1/database_1::table_1` worked for me.

[2017-12-13 22:29] steezeburger commented on #591
+1

[2017-12-13 23:43] steezeburger commented on #591
https://github.com/blaze/odo/blob/master/odo/backends/sql_csv.py#L127

It seems there's a way to define `LOCAL` in this code, but I was not able to figure out how that method was called to see what the`element` was to set local to true.

[2017-12-28 18:57] majidaldo opened #599 "feature: enforce a path like convert(src, dst_0, dst_1, dst_final)"
In practice sometimes you may not want to use the 'optimal' path for whatever reason.

[2018-01-10 00:15] dhirschfeld opened #600 "Governence"
***cc:*** @cpcloud, @mrocklin, @llllllllll, @kwmsmith, @cowlicks, @quasiben, @teoliphant

Sorry for the spam, but as the top contributors to this project you may want to weigh in on the future of odo.

I think it's a great project and have been happily using it for a couple of years. I'd like to continue to use it however for quite some time now it hasn't had any active maintainer. Worse, no one w

[2018-01-10 05:25] mrocklin commented on #600
I agree that this project is in an odd state administratively.  And I apologize for personal lack of response on recent PRs.  Personally speaking I would be happy to see commit access extended to others that are more active.  As someone who has been inactive for a long period I don't personally feel qualified to determine who those people are.

I would trust developers like @llllllllll and @necari

[2018-01-10 06:59] llllllllll commented on #600
I also agree that this project has sort of fallen into disrepair. A few weeks ago my coworker @ehebert also expressed this concern. After that conversation we reached out to Anaconda to get admin access to the blaze organization which allows me to add new commiters. I know that you have been working with and on odo for a long time so I would be happy to give you commit access.

One issue I see wit

[2018-01-10 14:11] ehebert commented on #600
One step towards faster acceptance and developments of patches would
be getting continuous integration back to passing, and making passing
tests requirement for merging.

The biggest blocker to getting the tests to currently pass are the
MySQL tests. I'm not sure what the current demand for MySQL is, and we
may be able to drop support. It would be useful to drop support for
MySQL, and other backen

[2018-01-10 23:58] dhirschfeld commented on #600
With a good test suite it's (theoretically) easy - developers are pretty much free to do what they want so long as the tests pass. In my experience though that's never *really* true - there will always be some aspect which isn't covered by the tests which may be broken by new changes. The only way I've found to deal with this is to insist that any patch for a breakage which wasn't picked up by the

[2018-01-11 06:11] #556 closed

[2018-01-11 06:11] #597 closed

[2018-01-11 18:40] Matttman opened #602 "Passing na_values and quoting doesn't work."
I am trying to read from a tab delimited file and setting na_values and quoting aren't working. I used the same options with pandas and it creates the dataframe correctly.

[code]

I was getting one warning when I running it, I fixed that as shown in #546 to make sure it wan't related and no change.
[code]

If i run as is I get an error because of quotes in my data messing up the columns. I notice

[2018-01-12 00:05] llllllllll commented on #602
That doesn't see like the same error. It looks live you have a numeric value for a boolean field:

[code]

Also, what version of odo is this?

[2018-01-12 02:29] Matttman commented on #602
Using 0.5.0
It's getting the numeric value because of quotes in that row that cause a tab to get missed , if I run the same command with panads it ignores the quotes. I just included that error because I saw that the last line showed that not all of the values seem to be getting passed.
`[SQL: '\n            COPY titlebasics FROM %(path)s (\n                FORMAT CSV,\n                DELIMITER %

[2018-01-12 02:55] llllllllll commented on #602
Can you try this on master, I remember dealing with something like this in the past. There hasn't been an odo release in a comically long time so there are a lot of unreleased bug fixes.

[2018-01-12 08:28] Matttman commented on #602
Tried on master and ran into a different error.  Seems to be this #585 I didn't see anyone with a fix for it.
[code]

[2018-01-13 23:32] Matttman commented on #602
Realized this won't work with Version 0.5.0 because it looks like it only uses [psycopg2's copy_from](http://initd.org/psycopg/docs/cursor.html#cursor.copy_from)  to convert the csv to sql and never actually makes a dataframe.  It does accept a null_value so I was able to set that instead of pandas null_values, but no quoting option.
It should work on master but somethings broken.

[2018-01-18 17:09] JeremyGHutchins commented on #585
Also happens to me.  On any CSV with more than 1000 rows.

[2018-01-18 17:46] JeremyGHutchins commented on #585
As a temporary fix, I made the following changes... due to the with block closing the file, we cannot delay reading the chunks from the file, so this doesn't help with large csv load times... but...

at line 347... in _csv_to_dataframe
[code]

then in CSV_to_chunks_of_dataframes...

[code]

[2018-01-19 03:26] jameswinegar commented on #531
@llllllllll would you be willing to sketch out what this looks like? I have quite a few projects that I'd love to use Odo. Might be able to implement it if we have some guidance.

[2018-01-19 03:29] llllllllll commented on #531
I would look at how the s3 backend currently works. The general idea is that we have some URI for s3 like `s3://bucket/path/to/object` which has a `resource` dispatch to create an instance of `S3`. The `S3` object is just a box for searching the odo graph by type. We use `boto` to move data back and forth, I am sure there is something similar for google. This is where I would start: https://github

[2018-01-22 07:54] CedricAnover opened #603 "pandas DataFrame as a source"
Hi
I'm new to odo, but just a quick question:
can we use pandas dataframe as a source?

[2018-01-22 17:15] majidaldo commented on #600
I've been having thoughts about a comprehensive testing scheme. It's possible to enumerate combinations of source containers (and their data types) and  dest containers. Each backend needs to declare/enumerate all its datatypes and be able to create them (w/o odo involved). From there you can see if you can successfully convert to the destination. (This test functionality would also include benchm

[2018-01-25 01:20] asokadiggs commented on #588
I'm encountering this error as well.  Doing some additional reading, I found this Migration Guide for migrating from networkx 1.x to networkx 2.x:
https://networkx.github.io/documentation/latest/release/migration_guide_from_1.x_to_2.0.html

The key bit for this is quoted here:
"Replace any use of G.edge with G.adj. The Graph attribute edge has been removed. The attribute G.adj is G.edge in v1 and

[2018-01-25 01:23] asokadiggs commented on #579
I found this Migration Guide talking about transitioning support for networkx 1.x to networkx 2.x.

https://networkx.github.io/documentation/latest/release/migration_guide_from_1.x_to_2.0.html

The key bit for the error I saw is quoted here:
"Replace any use of G.edge with G.adj. The Graph attribute edge has been removed. The attribute G.adj is G.edge in v1 and will work with both versions."

I do

[2018-02-05 21:02] rlang2017 opened #604 "Unable to parse uri to data resource"
![screenshot from 2018-02-05 16-12-07](https://user-images.githubusercontent.com/32716611/35829108-cc0bf2ca-0a8f-11e8-998f-1094fa197969.png)
![screenshot from 2018-02-05 16-11-16](https://user-images.githubusercontent.com/32716611/35829109-cc1e839a-0a8f-11e8-9bb1-d474c0738b27.png)
![screenshot from 2018-02-05 16-11-40](https://user-images.githubusercontent.com/32716611/35829110-cc3309fa-0a8f-11e8-

[2018-02-05 21:07] llllllllll commented on #604
When opening an issue like this, you need to show an example of the code you attempted to run along with the output it produced. No one can help you if they don't know what is wrong.

[2018-02-05 21:17] rlang2017 commented on #604
Sorry, |||||||||||| - just added some screenshots - hope that helps.

[2018-02-05 21:22] llllllllll commented on #604
Thanks, in general, I prefer text so I can search and copy it, but this works. Can you paste the result of `pip freeze` if you use pip, or `conda list` if you use conda? To use the db backends you would need the db driver, for example `psycopg2` for postgres or `pymysql` for mariadb. Are you sure those are installed in the env?

[2018-02-05 21:27] rlang2017 commented on #604
Here it is:  Thanks for helping out!

apturl==0.5.2
beautifulsoup4==4.4.1
blinker==1.3
Brlapi==0.6.4
chardet==2.3.0
checkbox-support==0.22
command-not-found==0.3
cryptography==1.2.3
datashape==0.5.2
decorator==4.2.1
defer==1.0.6
feedparser==5.1.3
guacamole==0.9.2
html5lib==0.999
httplib2==0.9.1
idna==2.0
Jinja2==2.8
language-selector==0.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
multi

[2018-02-05 21:32] llllllllll commented on #604
So, I think you are doing the correct thing, assuming that I am reading it all correctly. Can you evaluate:
[code]
and post the result?

[2018-02-05 21:34] rlang2017 commented on #604
{re.compile('^http://.+$'): <function resource_url at 0x7f7944ed50d0>, re.compile('^.+\\.(txt|log)(.gz)?$'): <function resource_sas at 0x7f7944f02400>, re.compile('^.+/\\*\\..+$'): <function resource_directory at 0x7f7944ef3268>, re.compile('^s3://.*\\.json(\\.gz)?$'): <function resource_s3_json_lines at 0x7f7944ecb488>, re.compile('^.+::.+$'): <function resource_split at 0x7f7944f10598>, re.compi

[2018-02-05 21:37] llllllllll commented on #604
It looks like odo isn't seeing your sql packages. What happens if you run `from odo.backends import sql`?

[2018-02-05 21:40] rlang2017 commented on #604
Sweet!  I hope that's got it.  Thanks so much!  I never expect to hear back from folks that fast.
I have to take off for the day here, but hopefully tomorrow I can start packing my csv's into the db and all will be well.  I'll post a quick thanks if all goes well.

Engine(postgresql://postgres:***@127.0.0.1/bolter)

[2018-02-05 21:42] llllllllll commented on #604
No problem! Hmm, did you import odo, then pip install the packages without restarting your Python session? If so, this should "just work" now because it attempts to import `odo.backends.sql` during the first import.

[2018-02-06 15:16] rlang2017 commented on #604
Well, now it appears I've moved on to a new problem:

Traceback (most recent call last):
  File "<pyshell#56>", line 1, in <module>
    odo(data, 'postgresql://postgres:ronotis1@127.0.0.1/bolter::bolter')
  File "/usr/local/lib/python3.5/dist-packages/odo/odo.py", line 91, in odo
    return into(target, source, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/multipledispatch/dispatcher.py

[2018-02-06 15:53] necaris commented on #604
@rlang2017 When you say you re-imported, did you simply type the "import" line again, or have you quit and restarted Python? Whenever updating dependencies of any kind, I would strongly suggest doing the latter -- can you try that?

[2018-02-06 16:29] rlang2017 commented on #604
I did try that right after I made the last post, and it seems to have fixed that particular error.  I'm working on a few other problems right now and I'm hoping odo will do its thing on the next attempt.  Thanks again for all the help!

[2018-02-06 16:43] necaris commented on #604
Closing as it appears to be resolved -- feel free to reopen if this exact error recurs.

[2018-02-06 16:43] #604 closed

[2018-02-26 03:47] JoooyZ opened #608 "pandas.Dataframe to mysql Table with auto_increment"
Hi, I try to use odo to convert large df data to mysql Table, include a auto_increment id and two foreign keys, but failed.
I got the error:
`ValueError: Column names of incoming data don't match column names of existing SQL table
Names in SQL table: ['id', 'domain','count', 'client_ip_id', 'uuid_id',  'start_time']
Names from incoming data: ['client_ip_id', 'count', 'domain', 'uuid_id', 'start_ti

[2018-02-26 03:53] JoooyZ commented on #425
Hi, have U fixed it yet? I also miss this problem with a auto_increment id of Table. Do U have any solutions?

[2018-02-26 04:15] #608 closed

[2018-03-01 15:22] michelorengo commented on #600
It may make sense to split the project: odo-core + various (sub)projects for backends. That way we can also have different administrators for the backends projects.

[2018-03-01 20:45] majidaldo commented on #600
That's a great idea! But this places a dependency on 'core' and core has to be maintained as well. Did you consider the numpy and pandas backends as core as well? It doesn't need to be but then I don't know how you'd get (core + backendA) + (core + backendB) to work together without some common, connecting 'core' data structure.
With the way things are going this common container might be Arrow in

[2018-03-01 23:11] michelorengo commented on #600
@majidaldo, I would see odo-core limited to the Python native data structures (yes, it's very limited). odo-core essentially is the construction of the graph and the dispatcher functions. And yes, in the current core package, convert includes numpy ndarray and pandas DataFrame but I think they should be in their own backend. I agree with you that Arrow should be at the same level as ndarray or pd.

[2018-03-10 11:34] FRidh opened #609 "Test failures"
[code]

[2018-03-20 21:19] rizplate opened #610 "Chunk, Batch, Stream"
Does the Odo file, db and other resources support copying data by chunks? for data that can not fit in server memory

[2018-03-23 18:03] paulochf commented on #559
I went further:

[code]

Data is there, can access it via HTTP, but got the same error message as OP.

[2018-04-08 09:36] aseyboldt commented on #600
It might also be nice to just do a bug fix release with the changes since 0.5.1 (https://github.com/blaze/odo/compare/0.5.1...master)
I just ran into a bug that was fixed on master in 2016.

[2018-04-10 09:57] huggybearikf opened #611 "Pandas DataFrame to MySQL/SQLAlchemy table fail with nans"
I get the error `Invalid column name 'nan'` when passing a DataFrme with nans to a SQLAlchemy table that allows nans. I've tried passing a na_values with a sqlalchemy null but it doesn't seem to be recognizing the replace.

From the error it seems like it is passing literally `nan` into the `SQL INSERT` statements.

Code as below:
[code]
And error (truncated) below:
[code]

[2018-04-12 00:15] jaygorrell commented on #578
Apparently still an issue - I got the same today. I use the same profile in the same codebase just fine but those are on boto3 so maybe it's a boto thing.

[2018-04-13 22:25] jaygorrell commented on #591
@necaris helped me find that you can simply pass the value of `local` to odo(). The value literally gets dropped in, so you'd just use `local='LOCAL'`.

[2018-04-16 20:15] rizplate opened #612 "postgress uuid not working"
UUID with postgress dialect of sqlalchmey generates following error
[code]

[2018-04-16 21:37] rizplate commented on #579
I am getting this error
[code]

[2018-04-16 22:49] rizplate opened #613 "Saving CSV object to file"
I am trying to run the example using odo.odo command, it returns a CSV object. How should I save this CVS object to csv file?

[code]

[2018-04-19 01:01] AlexHagerman commented on #600
@llllllllll any update on the blaze org and new commit permissions?

[2018-04-19 01:06] llllllllll commented on #600
I thought I had given out commit access to @dhirschfeld, but I don't see that now. Maybe he didn't accept it? Basically, no one has come along and actually demonstrated a willingness to take over so the status quo remains. I am no longer being paid to develop blaze and odo so I don't have much time to commit to the project.

[2018-04-19 01:09] dhirschfeld commented on #600
I don't think I ever got an invite? Or if I did I must've missed it (which is entirely possible!)

[2018-04-19 01:47] necaris commented on #600
FWIW I'm not being paid to work on this any longer either -- happy to help where I can but my time is also pretty limited.

[2018-05-02 13:05] SandervandenOord opened #614 "Pandas to Postgres -> My own method is a lot faster than odo (or I made a mistake)"
I have a pandas dataframe of 8 million rows. I found a fast method on stackoverflow to write this data to Postgres: takes less than 2 minutes.
Today I found odo and was hoping it would be faster, but it wasn't.
In fact my guess is it would take 30 minutes or so with odo, I stopped after 7 minutes.

Here's the code for faster writing of dataframe to Postgres, hope it helps you guys:
[code]

[2018-05-24 11:13] OliverHofkens commented on #369
Having the same issue, but with 'index_col=False'. Stepping through Odo with the debugger points me to: https://github.com/blaze/odo/blob/e62822a6dcc87d48cfee0207c9ca84a464d702f3/odo/into.py#L52

**kwargs are not passed to discover, so CSV's `discover()` runs with the default arguments, which gives me the same error as you describe.

[2018-05-24 11:36] OliverHofkens commented on #369
Looking through the code, it seems **kwargs are almost never passed to `discover()`. In that case, it might be necessary that @ https://github.com/blaze/odo/blob/master/odo/backends/csv.py#L375-378
the **kwargs are taken from the `CSV` object instead of from the function args.

[2018-06-04 15:37] teoliphant commented on #600
I'm taking on the responsibility under Quansight of transitioning Blaze and harvesting from it the pieces that are still useful.

The general plan is to ensure the useful projects continue.  Projects under the Blaze organization that will continue include datashape and odo as well as (perhaps) the data-base adaptors and Text Adaptors.

However, the current plan is to move datashape to the Plures (

[2018-06-05 15:36] elakhna commented on #588
Any update here? I'm still getting this.

[2018-06-06 04:20] dhirschfeld commented on #588
You need to downgrade your `networkx` to `<2.0` until this is fixed

[2018-06-12 22:50] tariqkhaleeq commented on #298
Hey guys, I know this is way old but has anyone figured out a solution for this? Thanks (pointing me in the right direction would also be appreciated)!!

[2018-06-19 06:50] #570 closed

[2018-06-19 19:17] yingw787 commented on #600
Not sure if this is relevant, I'm working on a fork of `odo` @kineticadb and building out support for a variety of data types (e.g. ESRI Shapefiles, Apache ORC, Apache Parquet, etc.), and ideally have our fork open-sourced by the end of the year. I find `odo` useful and would like to stay in touch with the Blaze community wherever it goes!

[2018-07-02 13:35] TBusen commented on #577
+1, but for MS SQL Server.  Same error, same process

[2018-07-30 15:55] dvreed77 commented on #220
What is the proper way to reference the schema? I've tried both ways referenced above and neither work. I can't determine it from the code changes either. Thanks for the help

[2018-08-23 14:17] jingyu-xu commented on #608
I got the same error.
ValueError: Column names of incoming data don't match column names of existing SQL table
Names in SQL table: ['id', 'variable_code', 'zcta', 'value', 'Year']
Names from incoming data: ['variable_code', 'zcta', 'value', 'Year']

[2018-08-30 00:41] nickolay commented on #571
There's https://github.com/pymssql/pymssql/issues/279 requesting bulk load support, which points to another library (https://github.com/zillow/ctds), which [implements bulk insert](https://zillow.github.io/ctds/bulk_insert.html), though it does not yet have fully working SQLAlchemy integration (https://github.com/zillow/ctds/issues/6).

[2018-08-31 14:55] AlexHagerman commented on #571
I don't think much is happening with odo today. I'll checkout the referenced pymssql issue and the zillow implementation. Thanks @nickolay

[2018-08-31 14:55] #571 closed

[2018-09-10 09:00] bwhitby opened #615 "AttributeError: 'DiGraph' object has no attribute 'edge' - when trying to use odo"
I'm trying to use odo  and i'm getting the above error message.
Down grading networkx seems to be one suggest solution, but is proving to be a hassle?
When will odo work with networkx 2.1?
Or is there another cause/ fix.

thanx

[2018-09-21 11:46] hnazkani commented on #600
@teoliphant @othermaintainers : wanted to check if odo has been has been housed under a new project. It was a great tool which provided a lot of flexibility to users in a single line of code. If you are aware of any such other data migration tool in python, could you please help (since it looks like odo is a dead library now).

[2018-09-21 19:17] necaris commented on #600
@hnazkani you could check out the [intake](https://intake.readthedocs.io/) project which came out of some of the learnings from Blaze, and (I believe) already can do a number of the things you might have been using `odo` for.

[2018-09-22 00:02] nickolay commented on #600
intake, judging from the name and its docs, appears to solve the problem of getting data *from* various sources into a notebook (dataframes and others), right? odo was interesting to me personally, because it also worked the other way.

[2018-09-22 04:50] groutr commented on #615
Odo will not work with NetworkX >=2.0.  To use the latest released version of odo, you need to downgrade to an earlier version of networkx (pre 2.0)

[2018-10-02 22:53] soerendip commented on #615
Will this be fixed in future versions of odo?

[2018-10-02 23:00] groutr commented on #615
@soerendip I'd use the latest 1.x version of networkx (1.11 I think).  I submitted a PR that fixes this, but I don't know who maintains this library.

[2018-10-09 20:07] rpanai commented on #614
I was not able to use `odo` and I'm wondering if this project is still maintained. I modified your solution to work in python 3 too.

[code]

[2018-10-14 22:52] d6tdev commented on #614
In case you are looking for an alternative, you might want to consider [d6tstack](https://github.com/d6t/d6tstack). You can process CSV and then export to csv, parquet or SQL without having to write custom functions. You can load multiple files and it deals with data schema changes (added/removed columns). Chunked out of core support is already built in. It [benchmarks well](https://github.com/d6t

[2018-10-17 13:19] serpiko commented on #615
with networkx==1.9 it works, thanks for the solution

[2018-10-26 16:24] gregorco opened #617 "Can odo do an UPDATE into a database table? Or just an INSERT?"
I'm trying to determine if odo supports UPDATES into a database table.  The python code that I've inherited uses odo for inserting records into an Oracle database table, and I'd like to try to modify the code to allow UPDATES to work.  Is this possible?

[2018-11-07 15:21] eronsdc commented on #579
I was getting this error similar to @rizplate

`AttributeError: 'SubDiGraph' object has no attribute 'edge'`

dowgrading to 1.11 with anaconda on windows seemed to work as suggested by @mcquin. Or at least, I get a different error now (#605 for the curious)

[2018-11-29 13:54] binsi commented on #403
Can still confirm this happening on Windows & odo-0.5.0

[2018-12-01 17:21] ml31415 opened #618 "Unnecessary mandatory dependencies"
Right now, I see imports from panda in:

https://github.com/blaze/odo/blob/e62822a6dcc87d48cfee0207c9ca84a464d702f3/odo/convert.py#L4
https://github.com/blaze/odo/blob/e62822a6dcc87d48cfee0207c9ca84a464d702f3/odo/into.py#L20

and imports to dask in:
https://github.com/blaze/odo/blob/e62822a6dcc87d48cfee0207c9ca84a464d702f3/odo/chunks.py#L8

To my understanding, those imports should only be in thei

[2018-12-04 14:00] ml31415 commented on #618
I had some attempt to throw out those dependencies. `dask` can be easily made optional by falling back to the previous implementations. `pandas` is heavily used in the CSV module, and lots of stuff depend on that. Looks like that would need to be reimplemented first.

[2018-12-04 14:00] #618 closed

[2018-12-05 23:56] mannharleen opened #619 "Is anyone maintaining this repo? If not, has everyone moved to a newer better alternative?"

[2018-12-10 23:14] #615 closed

[2018-12-24 21:59] josh-gree commented on #550
Any ideas on this?

I would like to use odo to copy local CSV to a dockerized postgres. I have a host directory mounted to the container but this has different paths internally and externally. I get same errors as the OP.

[2019-01-07 09:55] girijesh18 opened #620 "Error while inserting data to database from csv in remote MySQL"
Hi,
I am trying to read CSV dynamically and then by using ODO creating a table schema and hence inserting the  CSV data into it.  ODO is able to create the table schema successfully but raising error while inserting data into the same table. It is not able to insert a single row.
Also is it possible to create a connection string? I am using the following parameter in string
"host", "user", "passwd

[2019-01-31 13:20] predicador37 commented on #619
I agree with the question. Odo last release was at Apr'16. This release does not work with Pandas 0.24, for example, because of the use of pandas tslib attribute. Although this is fixed in the repo, there's no package with the fix in pypi. Are the maintainers planning any release soon?
Thanks in advance

[2019-02-01 13:58] timcera commented on #619
I am concerned also.  What's going on?

[2019-02-12 11:29] psychemedia commented on #550
@josh-gree I have a similar issue, trying to run a script in a Jupyter notebook that has datafiles local to that container load data into docker-compose connected db container.

Workaround for now is to mount the data files into the db container.

[2019-02-12 17:20] JeromeRaghunandan commented on #608
I have the same error. How do you handle auto incrementing identity columns with odo?

[2019-02-16 06:19] nateGeorge opened #621 "incompatible with latest pandas"
When importing this using pandas 0.24 versions, this error occurs:

[code]

[2019-03-03 18:21] timcera commented on #619
Should I just take my own version of odo local to my project?  This is painful.  Especially because all that needs to happen is someone to have a new release.  I think that all blockers to my project are fixed in the repo - mainly tslib is not in pandas any more - https://travis-ci.org/timcera/tsgettoolbox

[2019-03-03 19:02] branning commented on #619
See #600, it seems there was kind of a plan to migrate to another organization, but that hasn't happened yet.

[2019-03-08 00:16] kyleabeauchamp commented on #621
I also encountered this.

[2019-03-17 09:49] Jeffrey04 commented on #591
is it possible to force odo to fall back to insert the CSV using multiple `INSERT` statements? I added `local='LOCAL'` but turns out my remote DB is not configured to support importing this way. The CSV I am importing is not huge so I don't mind it being slow (also it is expected to be a one time task).

[2019-03-29 19:58] fuglede opened #622 "Documentation provides invalid SSL certificate"
Currently, https://odo.pydata.org/ serves an invalid certificate (valid only for readthedocs.org), but SSL on custom domains in Read the Docs should work more or less out-of-the-box. According to [the documentation](https://docs.readthedocs.io/en/stable/custom_domains.html#custom-domain-ssl):

From that same page, it would seem that one needs to use readthedocs.io (note the io instead of org) in t

[2019-04-16 13:47] bartly commented on #621
How to fix it ? Is there a resolution

[2019-04-16 14:38] nateGeorge commented on #621
Seeing as the build and docs are broken and it hasn't been updated in many months...seems like development has stalled.

[2019-04-20 20:02] ryoung29 commented on #621
I found a fix. In odo/backends/pandas.py line 94, change `pd.tslib.NaTType` to `type(pd.NaT)`.
Also, the latest version on github has the fix, but I don't know if it's stable,

[2019-04-21 04:41] timcera commented on #621
PR was accepted and merged some time ago:
https://github.com/blaze/odo/pull/546

The problem with odo is that no one is preparing releases with the latest
code.

On Sat, Apr 20, 2019 at 4:02 PM RYoung <notifications@github.com> wrote:

[2019-04-24 17:23] ryoung29 commented on #621
@timcera yes, If you install the git version, it's working just fine.

[2019-05-23 13:53] chrisc9 commented on #279
for me solved this issue installing sqlalchemy /pip install sqlalchemy

[2019-06-14 05:35] amoux commented on #621
I was able to import after making the change, thanks!!

[2019-06-30 15:20] Sangarshanan commented on #298
Maybe [this](https://github.com/RetailMeNotSandbox/dart/pull/85/files) could help

Has this issue be taken up ?

[2019-07-07 04:02] mappedinn commented on #617
+1

[2019-07-10 20:28] odoublewen commented on #621
@cpcloud @llllllllll Are there any maintainers who could make a new release?

[2019-07-23 03:11] QingGo opened #623 "How to specify queue when import data to Hive"
When I want to import a pandas dataframe to hive, I receive an error:
[code]
I want to specify the yarn queue name that hive use but not use the "default" queue, but I have no idea how to do that.

[2019-08-08 20:16] fizwit commented on #621
Building Python 3.7.4 with odo-0.5.0
[code]

[2019-09-27 02:09] songhao8080 commented on #621
[code]

[2019-11-23 17:15] camesine commented on #614
Thanks!!!

[2020-03-30 00:00] PhilippeH1967 commented on #614
Hi could you help me to understand what you will add in schema ?

[2020-04-08 13:33] tbs17 commented on #326
what's S3 in the code '**S3**(CSV)('s3://path/to/file/without/csv.extension')'? i don't see it's defined in the above code?

[2020-04-26 07:04] tirkarthi opened #625 "Deprecation warning due to invalid escape sequences"
Deprecation warning due to invalid escape sequences. Using raw strings or escaping them again helps in resolving this. Check https://github.com/asottile/pyupgrade/ for automatic fix of this.

[code]

[2020-04-26 07:06] tirkarthi opened #626 "Importing ABC directly from collections was deprecated and will be removed in Python 3.10. Use collections.abc"
[code]

[2020-04-26 16:12] timcera commented on #626
No one in control of this repository cares.  What I did was just bring the entire code base into my project, applying the patches that would actually make things work.  There is a replacement project called intake at https://pypi.org/project/intake/.  Intake is bizarrely complicated and I didn't see any benefit to the pain.

[2020-05-07 11:04] tirkarthi opened #627 "Opening in U mode has been deprecated and will be removed in Python 3.10"
[code]

Ref : https://bugs.python.org/issue37330

[2020-05-19 19:42] wolfc86 commented on #614
@SandervandenOord thanks for sharing this technique! I found it really valuable for a project I'm working on.

Some of my schema names needed to be quoted in the SQL statement (long story :roll_eyes:) so I had to change this line:

[code]
to this:
[code]

I also wanted to use `','` as my separator, but found my routine would error when a CSV row would have a cell whose value also contained a comma

[2020-07-30 15:30] mujina93 commented on #619
Any news on this?

[2020-09-07 16:31] #480 closed

[2020-10-21 12:57] sureshchepuri opened #629 "BUG:TypeError: Cannot interpret 'CategoricalDtype(categories=['no', 'yes'], ordered=False)' as a data type"
I just upgraded all my python libraries, and now my previous code is started to fail.
I'm using blaze with pandas. Here is my method code
[code]
res contains below data
[code]
I'm using below dependencies
[code]
I'm getting the following error
[code]

It's failing to parse second column values.

[2020-12-11 16:09] mairanteodoro commented on #614
@wolfc86 You forgot to add `index` as a function parameter. The first line of your code should be:
[code]

[2020-12-11 21:10] wolfc86 commented on #614
Ah, right you are @mairanteodoro! I updated the snippet in my comment. Thanks!

[2021-01-15 13:40] joebeeson opened #631 "Using "filter_kwargs" on "create_engine" never returns matches"
In `backends.sql:resource.sql` function, `utils.filter_kwargs` always filters all keywords when creating the engine since `create_engine`'s signature doesn't have any keyword arguments.

https://github.com/blaze/odo/blob/9fce6690b3666160681833540de6c55e922de5eb/odo/backends/sql.py#L633-L640

[2021-08-10 13:54] blabarthe1 opened #635 "inspect.getargspec() is deprecated since Python 3.0, use inspect.signature() or inspect.getfullargspec"
in utils.py of odo 0.5.1+64.g9fce669.
allways returns error when try to discover csv resource.
may just need to change the api call

[2021-10-13 23:54] Chithra1206 commented on #614
@SandervandenOord Thank you for this amazing technique!  I had to push over 4 GB of data(mostly text fields - conversations) to Postgres and this made my task much simpler.  It took 30 minutes (actual wall time - 30min 35s) to run.

I modified @wolfc86 code to add chunksize option in df.to_csv(...).

Then I split the dataframe into chunks, created a header outside the method, and pushed the data i

[2021-11-27 04:56] carlosal1015 opened #637 "Odo 0.5.1 is incompatible with sqlalchemy 1.4 on Arch Linux"
### Description

Hi, over Arch Linux we install both [`python-odo-0.5.1-1`](https://aur.archlinux.org/packages/python-odo) and [`python-sqlalchemy-1.4.25-1`](https://archlinux.org/packages/community/x86_64/python-sqlalchemy), but if

### Steps to reproduce

Install `odo` from AUR and sqlalchemy from official repositories as follows
[code]
wait to finish installation and run:

[code]

### Propertie

[2021-12-15 11:43] AsadKhalil opened #638 "RecursionError: maximum recursion depth exceeded"
Can you tell when the table size is large odo wont work
https://stackoverflow.com/questions/70349039/exporting-mysql-table-to-csv-using-blaze-odo-library

[2022-01-30 22:42] PandaWhoCodes commented on #614
Works like a charm. Thanks

[2022-04-20 18:07] astrojuanlu commented on #600
For the record, [I've been researching Python alternatives to odo](https://twitter.com/juanluisback/status/1516829638093385740) (or at least, easy db-to-db transfer capabilities) and found none. As written in https://github.com/intake/intake/issues/91, many-to-many write capabilities are out of scope for intake.

I guess that the best alternative these days for what I'm looking for is to use somet

[2022-04-20 22:45] majidaldo commented on #600
heh, even pd.DF.to_sql this can go wrong. if you think about the conversions df > sql alchemy > odbc > db. plenty can go wrong there! i already know that geospacial datatype trips this chain up.